{% extends 'base.html.twig' %}
{% block body %}


    <h2>{{ ecurie.getNomEcurie() }} possede {{ ecurie.getNbTitre() }} Titres </h2>
    <p>{{ ecurie.getNomEcurie()  }} est l'une des plus grandes ecuries du wrc </p>











{% endblock %}