{% extends 'base.html.twig' %}
{% block body %}

    <a href="/ecurie/insert"> <button type="button"  class="btn btn-link">Ajouter une Ecurie</button></a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nom de l'ecurie</th>
            <th scope="col">Nombre de titre</th>
            <th scope="col">Detail</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>


        {% for ecurie in ecuries %}

          {% set id=ecurie.getId() %}

            <tr class="table-dark">
                <td>{{ecurie.getNomEcurie() }}</td>
                <td>{{ecurie.getNbTitre()}}</td>
                <td><a href="/ecurie/{{ id }}"><button type="button" class="btn btn-primary">Show</button></a></td>
                <td><a href="/ecurie/update/{{ id }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                <td><a href="/ecurie/delete/{{ id }}"><button type="button" class="btn btn-danger">Delete</button></a></td>


            </tr>


        {% endfor %}
        </tbody>
    </table>
    <a href="/"> <button type="button"  class="btn btn-link">Retour à la page d'accueil</button></a>
{% endblock %}