{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ pilote.getNomPilote() }} {{ pilote.getPrenomPilote() }}</h2>
    <p>{{ pilote.getNomPilote() }} est un des plus grands champion du wrc </p>














{% endblock %}