{% extends 'base.html.twig' %}
{% block body %}
    <a href="/pilote/insert"> <button type="button"  class="btn btn-link">Ajouter un pilote</button></a>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Nom du Pilote</th>
        <th scope="col">Prenom du pilote</th>
        <th scope="col">Detail</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
    </tr>
    </thead>
    <tbody>

{% for pilote in pilotes %}

    {% set id=pilote.getId() %}

    <tr class="table-dark">
        <td>{{ pilote.getNomPilote() }}</td>
        <td>{{pilote.getPrenomPilote()}}</td>
        <td><a href="/pilote/{{ id }}"><button type="button" class="btn btn-primary">Show</button></a></td>
        <td><a href="/pilote/update/{{ id }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
        <td><a href="/pilote/delete/{{ id }}"><button type="button" class="btn btn-danger">Delete</button></a></td>


    </tr>
  {% endfor %}
    </tbody>
</table>
    <a href="/"> <button type="button"  class="btn btn-link">Retour à la page d'accueil</button></a>
{% endblock %}