{% extends 'base.html.twig' %}
{% block body %}
    <a href="/rallye/insert"> <button type="button"  class="btn btn-link">Ajouter un Rallye</button></a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nom du rallye</th>
            <th scope="col">type de la piste</th>
            <th scope="col">lieu du rallye</th>
            <th scope="col">Detail</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>

        {% for rallye in rallyes %}

            {% set id=rallye.getId() %}

            <tr class="table-dark">
                <td>{{rallye.getNomRallye() }}</td>
                <td>{{rallye.getPisteRallye()}}</td>
                <td>{{rallye.getLieuRallye()}}</td>
                <td><a href="/rallye/{{rallye.getId()}}"><button type="button" class="btn btn-primary">Show</button></a></td>
                <td><a href="/rallye/update/{{ id }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                <td><a href="/rallye/delete/{{ id }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/"> <button type="button"  class="btn btn-link">Retour à la page d'accueil</button></a>
{% endblock %}