{% extends 'base.html.twig' %}

{% block body %}

    <h2>Le rallye {{ rallye.getNomRallye() }}</h2>
    <p>il se deroule au {{ rallye.getLieuRallye() }} et il contient des pistes {{ rallye.getPisteRallye() }} </p>














{% endblock %}