{% extends 'base.html.twig' %}

{% block body %}

    <h2> La speciale {{  speciale.getLieuSpeciale() }} </h2>
    <p>La speciale {{ speciale.getLieuSpeciale() }} est une course d'une distance de {{ speciale.getDistanceSpeciale }} km</p>


{% endblock %}