{% extends 'base.html.twig' %}
{% block body %}
    <a href="/speciale/insert"> <button type="button"  class="btn btn-link">Ajouter une speciale</button></a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">lieu de la speciale</th>
            <th scope="col">heure de debut</th>
            <th scope="col">Heure de fin</th>
            <th scope="col">Date de la speciale</th>
            <th scope="col">Distance de la speciale</th>
            <th scope="col">Nom du rallye</th>
            <th scope="col">Detail</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>

        {% for speciale in speciales %}

            {% set id=speciale.getId() %}

            <tr class="table-dark">
                <td>{{ speciale.getLieuSpeciale() }}</td>
                <td>{{speciale.getHeureDebut() | date('H:i')}}</td>
                <td>{{speciale.getHeureFin() | date('H:i')}}</td>
                <td>{{speciale.getDateSpeciale() | date('d/m/Y')}}</td>
                <td>{{speciale.getDistanceSpeciale()}}</td>
                <td>{{speciale.getIdRallye().getNomRallye()}}</td>
                <td><a href="/speciale/{{ id }}"><button type="button" class="btn btn-primary">Show</button></a></td>
                <td><a href="/speciale/update/{{ id }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                <td><a href="/speciale/delete/{{ id }}"><button type="button" class="btn btn-danger">Delete</button></a></td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/"> <button type="button"  class="btn btn-link">Retour à la page d'accueil</button></a>
{% endblock %}