{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

     {% if bool %}
    <h3>Ajouter un pilote</h3>
    {% else %}
      <h3>Modifier un pilote</h3>

    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-success">

        {% if bool %}
        Ajouter
        {% else %}
        Modifier
        {% endif %}
    </button>

        {{ form_end(form) }}













{% endblock %}