{% extends 'base.html.twig' %}
{% block body %}
    <a href="/voiture/insert"> <button type="button"  class="btn btn-link">Ajouter une voiture</button></a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Modele voiture</th>
            <th scope="col">Nom de l'ecurie</th>
            <th scope="col">Detail</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>

        {% for voiture in voitures %}

            {% set id=voiture.getId() %}

            <tr class="table-dark">
                <td>{{ voiture.getModeleVoiture() }}</td>
                <td>{{voiture.getIdEcurie().getNomEcurie}}</td>
                <td><a href="/voiture/{{ id }}"><button type="button" class="btn btn-primary">Show</button></a></td>
                <td><a href="/voiture/update/{{ id }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                <td><a href="/voiture/delete/{{ id }}"><button type="button" class="btn btn-danger">Delete</button></a></td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/"> <button type="button"  class="btn btn-link">Retour à la page d'accueil</button></a>
{% endblock %}