{% extends 'base.html.twig' %}

{% block body %}

    <h2> La {{ voiture.getModeleVoiture() }} </h2>
    <p>La {{ voiture.getModeleVoiture() }} est une puissante voiture de rallye </p>


{% endblock %}