<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Wrc</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pilote">Pilote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ecurie">ecurie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rallye">rallye</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/voiture">voiture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/speciale">speciale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inscription">inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">connexion</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
